* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lime; */
}

html {
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    background-color: white;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 5vh;
    background-color: white;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 20px; 
    margin-inline: 10px;  
    margin-top: 5px;
}

.blue {
    background-color: #0061FF;
    color: white;
    padding: 5px 10px;
}

.blue:hover {
    opacity: 0.5;
}

header nav {
    height: 100%;
}

header nav ul li {
    height: 100%;
}


header nav ul li:hover {
    border-bottom: 1px solid black;
}

.section {
    padding-top: 3vh;
}

.color {
    background-color: #B4D0E7;
}

.position {
    margin: 0 auto;
    width: 60%;
}

div.position > h1 {    
    padding-top: 30px; 
    font-size: 70px;
}

.container {
    display: flex; 
}

.basis {
    flex-basis: 30%;
}

div.text > p {
    padding-block: 20px;
}

#sign {
    display: block;
    font-size: 30px;
    color: black;
}

.basis-2 {
    flex-basis: 70%;
}

.image{
    position: relative;
}

.pictures {
   width: 100%; 
}

.photos {  
    position: absolute;
    top: 30px;
    right: 0;
}

.space {
    margin: 0 auto;
    width: 50%;
}

.scheme {
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 35px;
}

input {
    accent-color: #0061FF;
    padding: 10px;
}

label {
    padding-right: 30px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.columns .item {
    flex-basis: calc( (100% / 3 ) - (60px / 3));
}

.border {
    border: 1px solid #EBEBEC;
}

div.border > p {
    text-align: center;
    border: 1px solid #EBEBEC;   
}

.business {
    margin: 0 auto;
    width: 80%;
}

.duration {
    color: gray;
}

.contatcs {
    width: 100%;
}

div.business > h3 {
    margin-top: 30px;
    font-size: 25px;
}

div.business > hr {
    color: #EBEBEC;
    width: 30%; 
}

.fa-check {
    color: #0061FF;
}

.enterprise {
    border: 1px solid #EBEBEC;  
    margin-top: 30px;
}

div.enterprise > p {
    text-align: center;
    border: 1px solid #EBEBEC;
}

.call-us {
    display: flex;
}

div.call-us > div:first-child {
    flex-basis: 75%;
    margin-top: 30px;
}

div.call-us > div:last-child {
    flex-basis: 25%;
    margin-top: 30px;
}

.gray {
    border: 1px solid rgba(40, 40, 40, 1);
    color: rgba(40, 40, 40, 1);
    padding: 5px 10px;
}

.gray:hover {
    color: rgba(40, 40, 40, 0.5);
}

.colleague {
    margin-block: 80px;
}

.associate {
    margin-left: 20px;
}

.designit {
    padding-top: 80px;
    height: calc(100vw / 3);
}

.teams {
    display: flex;
    flex-wrap: wrap;
}

.logos {
    flex-basis: calc(100% / 2);
}

#line {
    color: rgba(208, 208, 211, 1);
    width: 40%;
}

.location {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.location > img.squares {
    filter: invert(1);
}

.squares {
    width: 60%;
}

.dimension {
    width: 60vw;
    padding: 20px;
    background-color: rgba(245, 245, 245, 1);
    overflow: auto;
}

.green {
    background-color: rgba(162, 211, 155, 1);
    border: 10px solid rgba(209, 233, 205, 1);
}

.magenta {
    background-color: rgba(97, 8, 43, 1);
}

.azure {
    background-color: rgba(0, 147, 206, 1);
}

.red {
    background-color: rgba(255, 28, 28, 1);
}

.dark-red {
    background-color: rgba(213, 0, 31, 1);
}

.dark-blue {
    background-color: rgba(13, 36, 129, 1);
}

.yellow {
    background-color: rgba(255, 216, 48, 1);
}

.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background {
    padding-block: 90px;
    margin-bottom: 80px;
}

div.container-2 > h3 {
    color: #600223;
    font-size: 25px;
}

div.container-2 > a {
    color: black;
    background-color: white;
    padding: 5px 10px;
}

.questions {
    padding-block: 30px;
    border-block: 1px solid black;
}

.questions-center {
    padding-block: 30px;
}

.LOREM {
    display: none;
}

.chevron-up {
    display: none;
}

.why:hover + .LOREM {
    display: block;
    padding-top: 5px;
}

.why:hover > .chevron {
    display: none;
}

.why:hover > .chevron-up {
    display: inline-block;
}

.chevron {
    padding-left: 90px;
}

footer {
    background-color: black;
    margin-top: 80px;
}

.information {
    display: flex;
    justify-content: space-between;
}

footer div ul li {
    list-style-type: none;
}

footer div ul li a{
    text-decoration: none;
    color: white;
}

footer div ul li:first-child {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 25px;
}

footer div ul li {
    padding-block: 10px;
}